<div class = "row">
	<div class="col-md-3">
	<h2 class="text-primary">{{searchResultShow.name}}</h2>
	<h6>
		<span class="text-muted" ng-repeat="eachGenres in searchResultShow.genres">{{eachGenres}} </span>
	</h6>
		<img class="img-rounded" style="width:18em; height:25em;" ng-src="{{searchResultShow.image.medium ? searchResultShow.image.medium : './images/no-img-portrait-text.png'}}"/>
	</div>
	<div class="col-md-8">
		
		<h3 class="text-primary">Summary</h3>
			<hr size=4>
			<p class="text-muted" 
			ng-bind-html = "searchResultShow.summary != '' ? searchResultShow.summary : 'Summary not available' | trustHTML">searchResultShow.summary</p>
			
		<h3 class="text-primary">Cast</h3>
			<hr size=3>
		<div class="row" ng-repeat="eachCast in searchResultShow._embedded.cast">
		<div class="col-md-3">
			<img class="img-rounded" style="width:10 em; height:14em;" ng-src="{{eachCast.person.image.medium ? eachCast.person.image.medium : './images/no-img-portrait-text.png'}}"/>
		</div>
		<div class="col-md-8" style="margin-top:5em; margin-left:3em">
			<p class="text-left text-muted">{{eachCast.person.name}}.....{{eachCast.character.name}}</p>
		</div>
		</div>	
	</div>
</div>